<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/style.css">

</head>
<body>

    <header>
        <h2><a href="/">BlogLite</a></h2>
        <nav>
            <a href="/login">Log In</a>
        </nav>
    </header>

    <main>
        <h3>Log In Page</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.</p>
    </main>

    <footer>
        <small>&copy; Our Wonderful APp</small>
    </footer>
    
</body>

</html>